<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBaCRtt2mFY5K9iDXuBUFM2tdqJfJt1wkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>733483686093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.localFirst</string>
	<key>PROJECT_ID</key>
	<string>local-first-app-7f65c</string>
	<key>STORAGE_BUCKET</key>
	<string>local-first-app-7f65c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733483686093:ios:5a4def041bf0106fabf184</string>
</dict>
</plist>